@import (reference) '~antd/lib/style/themes/index';

.sula-template-query-table {
  .ant-table-thead > tr > th {
    &:first-child {
      padding-left: 24px;
    }
    &:first-child.ant-table-column-has-sorters {
      padding-left: 8px;
    }
    &:last-child {
      padding-right: 24px;
    }
  }

  .ant-table-tbody > tr > td {
    &:first-child {
      padding-left: 24px;
    }
    &:last-child {
      padding-right: 24px;
    }
  }
}

.queryFormContainer {
  flex-shrink: 0 !important;
}

// 滚动条
/* 滚动槽（轨道）宽高 */
.queryFormContainer::-webkit-scrollbar {
  width: 5px; /*对垂直流动条有效*/
  height: 5px; /*对水平流动条有效*/
  // background-color:red
}
/* 滚动槽（轨道）样式 */
.queryFormContainer::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 8px;
}

/*定义滑块颜色、内阴影及圆角*/
.queryFormContainer::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #CECECE;
}

/*定义两端按钮的样式*/
.queryFormContainer::-webkit-scrollbar-button {
  display: none;
}

.queryFormContainer::-webkit-scrollbar-thumb:window-inactive {
  background: #fff;
}

.ant-popover {
  z-index: 1055 !important;
}


.suitClass {
  width: calc(100% - 293px);
  flex-shrink: 1;
}

.sula-table-status {
  background-color: #ffffff;
  height: 58px;
  padding: 14px 0px 14px 0px;
  position: absolute;
  width: 100%;
  left: 0px;
  top: -56px;
  z-index: 2;

  div {
    background: #F3F3F3;
    height: 12px;
  }

  div {
    display: inline-block;
    padding-left: 10px;
    width: 84px;
    margin-right: 10px;
    padding-bottom: 12px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    letter-spacing: 0;
    line-height: 30px;
    cursor: pointer;


    &:first-child {
      margin-left: 12px;
    }
  }

  .span-active {
    & > span {
      color: #005CFF;
    }
    
  }
}

.header-filter-radio {
  width: 260px;
  box-sizing: border-box;
  .ant-radio-group {
    width: 100%;
    .ant-radio-wrapper {
      width: 100%;
      padding: 0 10px;
      display: block;
      height: 36px;
      line-height: 36px;
    }
  }
  .ant-checkbox-group {
    width: 100%;
    .ant-checkbox-wrapper {
      width: 100%;
      padding: 0 10px;
      display: block;
      height: 36px;
      line-height: 36px;
    }
  }
}
